[submodule "modules/world_of_alonecraft"]
	path = modules/world_of_alonecraft
	url = https://github.com/DominicJamesWhite/world_of_alonecraft.git
[submodule "modules/mod-mythic-plus"]
	path = modules/mod-mythic-plus
	url = https://github.com/silviu20092/mod-mythic-plus.git
