[submodule "modules/world_of_alonecraft"]
	path = modules/world_of_alonecraft
	url = https://github.com/DominicJamesWhite/world_of_alonecraft.git
[submodule "modules/mod-mythic-plus"]
	path = modules/mod-mythic-plus
	url = https://github.com/silviu20092/mod-mythic-plus.git
[submodule "modules/mod-dungeon-respawn"]
	path = modules/mod-dungeon-respawn
	url = https://github.com/DominicJamesWhite/DungeonRespawn.git
[submodule "modules/mod-transmog"]
	path = modules/mod-transmog
	url = https://github.com/DominicJamesWhite/mod-transmog.git
[submodule "modules/mod-learn-spells"]
	path = modules/mod-learn-spells
	url = https://github.com/azerothcore/mod-learn-spells.git
